In [22]:
#test new clustering methods

import my_custom_func_Carepath_plotting as Mcfcp
import my_custom_func_Clustering as McfC
import my_custom_func_TS_Clust_1 as Mcftsc
import my_custom_func_config as Mcfconf
import mlflow 
import os
import pandas as pd

current_directory = os.getcwd()
file_path = os.path.join(current_directory, '00-Batch_configuration', 'export_config.csv')
config = pd.read_csv(file_path, encoding='ISO-8859-1')
Ac_config = config.iloc[0]

Create_dataset_parameters=Mcfconf.get_Create_dataset_parameters(Ac_config)
DSprefix=Ac_config['DS_Prefix']

Aggreg_parameters, Aggprefix=Mcfconf.get_Aggreg_param(Ac_config)
Aggreg_Patients=pd.read_csv('MyaggregPatient_test.csv', encoding='ISO-8859-1')

Time_Clust_parameters=Mcfconf.set_Time_clust_parameters(Ac_config)

#MLFLOW SETUP
Experiment_name=Ac_config['Experiment']
Experiment_tag1=Ac_config['Experiment_tag_1']
Experiment_tag2=Ac_config['Experiment_tag_2']
Mcfconf.my_custom_func_MLFLOWconfig(Experiment_name,Experiment_tag1,Experiment_tag2)

Experiment_id: 226049622297093742
Artifact Location: mlflow-artifacts:/226049622297093742
Tags: {'exp.version': '0.1'}
Lifecycle_stage: active

In [24]:
Aggreg_Patients
tmp_Aggreg_Patients = Aggreg_Patients.drop(Aggreg_Patients.columns[0], axis=1)
tmp_Aggreg_Patients['Filter'] = tmp_Aggreg_Patients[['FT1', 'FV1', 'FT2', 'FV2']].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)
#df['summed_col'] = df[['all columns except 'NIP','FT1', 'FV1', 'FT2', 'FV2']].apply(lambda x: sum(), axis=1)
                       
to_sum_Aggreg_Patients = tmp_Aggreg_Patients.drop(columns=['NIP', 'FT1', 'FV1', 'FT2', 'FV2'])
tmp_Aggreg_Patients['summed_col'] = to_sum_Aggreg_Patients.sum(axis=1)
exp_Aggreg_Patients = tmp_Aggreg_Patients[['NIP','Filter','summed_col']]

# Create the pivot table
exp2_Aggreg_Patients = exp_Aggreg_Patients.pivot_table(index='NIP', columns='Filter', values='summed_col', aggfunc='sum')
exp2_Aggreg_Patients.reset_index(inplace=True)

tmp2_Aggreg_Patients=exp2_Aggreg_Patients.drop(columns=['NIP'])
Array_Sum_Aggreg_Patients = tmp2_Aggreg_Patients.to_numpy()
Array_Sum_Aggreg_Patients

C:\Users\vince\AppData\Local\Temp\ipykernel_53124\3496014843.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tmp_Aggreg_Patients['summed_col'] = to_sum_Aggreg_Patients.sum(axis=1)

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 2, 1, 0, 7, 2, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 7, 6, 0],
       [0, 0, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 2, 0]], dtype=int64)

Filter,3 Lourd 1 Chirurgie,3 Lourd 1 Oncologie Medicale,3 Traitement 1 Chirurgie,3 Traitement 1 Oncologie Medicale,3 Traitement 1 RadiothÃ©rapie,6 SUIVI_CT 0,6 SUIVI_LT 0
NIP,,,,,,,
N201900001,0,0,0,0,0,0,0
N201900002,0,0,1,1,0,0,0
N201900003,0,0,0,0,0,0,0
N201900004,0,0,0,0,7,0,0
N201900005,0,0,0,0,0,0,0
N201900006,0,2,1,0,7,2,0
N201900007,0,0,0,0,0,0,0
N201900008,0,0,0,0,0,0,0
N201900009,0,0,0,0,0,0,0
N201900010,0,0,0,0,0,0,0
N201900011,1,0,0,0,0,0,0
N201900012,0,0,0,0,0,0,0
N201900013,0,0,0,0,0,0,0
N201900014,0,0,0,0,0,0,0
N201900015,0,0,0,0,7,6,0
N201900016,0,0,1,0,0,1,0
N201900017,0,0,1,0,0,2,0

In [20]:
# Reset index to make 'NIP' a column again
pivot_df.reset_index(inplace=True)
newdf2=pivot_df.drop(columns=['NIP'])
newdf2

Filter,3 Lourd 1 Chirurgie,3 Lourd 1 Oncologie Medicale,3 Traitement 1 Chirurgie,3 Traitement 1 Oncologie Medicale,3 Traitement 1 RadiothÃ©rapie,6 SUIVI_CT 0,6 SUIVI_LT 0
0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,7,0,0
4,0,0,0,0,0,0,0
5,0,2,1,0,7,2,0
6,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0
11,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0
14,0,0,0,0,7,6,0
15,0,0,1,0,0,1,0
16,0,0,1,0,0,2,0

In [21]:
df_array = newdf2.to_numpy()
df_array

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 2, 1, 0, 7, 2, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 7, 6, 0],
       [0, 0, 1, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 2, 0]], dtype=int64)