In [12]:
import pandas as pd
import hashlib

def feature_hashing(s, n_buckets):
    return int(hashlib.md5(s.encode()).hexdigest(), 16) % n_buckets

# Example dataset
data = {
    'Author': ['John Doe', 'Jane Smith', 'John Doe', 'Tom Brown', 'Jane Smith','Toam Browned','Tham Brotned','Joan Dot','Jean Smeth',],
    'Title': ['The Great Adventure', 'Data Science 101', 'Journey to the Stars', 'Python for Beginners', 'Data Science 101', 'Pythons fored Begianners', 'Pythons fored Begianners','my_book1','your_book2'],
    'Rating': [4.5, 3.8, 4.2, 4.0, 3.5,4.1,2.5,4.1,3.9]
}


for i in range(1,9,1):
    df = pd.DataFrame(data)

    # Set the number of buckets for feature hashing
    n_buckets = i

    # Feature hashing for 'Author' column
    df['Author_Encoded'] = df['Author'].apply(lambda x: feature_hashing(x, n_buckets))

    # Feature hashing for 'Title' column (splitting into words)
    df['Title_Encoded'] = df['Title'].apply(lambda x: [feature_hashing(word, n_buckets) for word in x.lower().split()])

    print ('n_buckets = ' + str(n_buckets))
    print(df)

n_buckets = 1
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               0
1    Jane Smith          Data Science 101     3.8               0
2      John Doe      Journey to the Stars     4.2               0
3     Tom Brown      Python for Beginners     4.0               0
4    Jane Smith          Data Science 101     3.5               0
5  Toam Browned  Pythons fored Begianners     4.1               0
6  Tham Brotned  Pythons fored Begianners     2.5               0
7      Joan Dot                  my_book1     4.1               0
8    Jean Smeth                your_book2     3.9               0

  Title_Encoded
0     [0, 0, 0]
1     [0, 0, 0]
2  [0, 0, 0, 0]
3     [0, 0, 0]
4     [0, 0, 0]
5     [0, 0, 0]
6     [0, 0, 0]
7           [0]
8           [0]
n_buckets = 2
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               0
1    Jane Smith          Data Science 101     3.8               0
2      John Doe      Journey to the Stars     4.2               0
3     Tom Brown      Python for Beginners     4.0               1
4    Jane Smith          Data Science 101     3.5               0
5  Toam Browned  Pythons fored Begianners     4.1               1
6  Tham Brotned  Pythons fored Begianners     2.5               1
7      Joan Dot                  my_book1     4.1               1
8    Jean Smeth                your_book2     3.9               1

  Title_Encoded
0     [1, 1, 0]
1     [0, 1, 0]
2  [1, 1, 1, 0]
3     [1, 1, 1]
4     [0, 1, 0]
5     [0, 0, 0]
6     [0, 0, 0]
7           [0]
8           [1]
n_buckets = 3
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               2
1    Jane Smith          Data Science 101     3.8               1
2      John Doe      Journey to the Stars     4.2               2
3     Tom Brown      Python for Beginners     4.0               0
4    Jane Smith          Data Science 101     3.5               1
5  Toam Browned  Pythons fored Begianners     4.1               2
6  Tham Brotned  Pythons fored Begianners     2.5               1
7      Joan Dot                  my_book1     4.1               2
8    Jean Smeth                your_book2     3.9               0

  Title_Encoded
0     [2, 2, 2]
1     [2, 2, 1]
2  [0, 1, 2, 2]
3     [2, 0, 2]
4     [2, 2, 1]
5     [2, 2, 0]
6     [2, 2, 0]
7           [0]
8           [1]
n_buckets = 4
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               0
1    Jane Smith          Data Science 101     3.8               0
2      John Doe      Journey to the Stars     4.2               0
3     Tom Brown      Python for Beginners     4.0               3
4    Jane Smith          Data Science 101     3.5               0
5  Toam Browned  Pythons fored Begianners     4.1               1
6  Tham Brotned  Pythons fored Begianners     2.5               1
7      Joan Dot                  my_book1     4.1               1
8    Jean Smeth                your_book2     3.9               1

  Title_Encoded
0     [3, 3, 0]
1     [0, 3, 2]
2  [3, 1, 3, 0]
3     [1, 3, 1]
4     [0, 3, 2]
5     [0, 0, 0]
6     [0, 0, 0]
7           [2]
8           [1]
n_buckets = 5
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               3
1    Jane Smith          Data Science 101     3.8               2
2      John Doe      Journey to the Stars     4.2               3
3     Tom Brown      Python for Beginners     4.0               4
4    Jane Smith          Data Science 101     3.5               2
5  Toam Browned  Pythons fored Begianners     4.1               4
6  Tham Brotned  Pythons fored Begianners     2.5               2
7      Joan Dot                  my_book1     4.1               1
8    Jean Smeth                your_book2     3.9               4

  Title_Encoded
0     [4, 4, 1]
1     [4, 3, 4]
2  [0, 3, 4, 3]
3     [2, 4, 2]
4     [4, 3, 4]
5     [1, 3, 1]
6     [1, 3, 1]
7           [2]
8           [2]
n_buckets = 6
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               2
1    Jane Smith          Data Science 101     3.8               4
2      John Doe      Journey to the Stars     4.2               2
3     Tom Brown      Python for Beginners     4.0               3
4    Jane Smith          Data Science 101     3.5               4
5  Toam Browned  Pythons fored Begianners     4.1               5
6  Tham Brotned  Pythons fored Begianners     2.5               1
7      Joan Dot                  my_book1     4.1               5
8    Jean Smeth                your_book2     3.9               3

  Title_Encoded
0     [5, 5, 2]
1     [2, 5, 4]
2  [3, 1, 5, 2]
3     [5, 3, 5]
4     [2, 5, 4]
5     [2, 2, 0]
6     [2, 2, 0]
7           [0]
8           [1]
n_buckets = 7
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               2
1    Jane Smith          Data Science 101     3.8               5
2      John Doe      Journey to the Stars     4.2               2
3     Tom Brown      Python for Beginners     4.0               5
4    Jane Smith          Data Science 101     3.5               5
5  Toam Browned  Pythons fored Begianners     4.1               4
6  Tham Brotned  Pythons fored Begianners     2.5               3
7      Joan Dot                  my_book1     4.1               6
8    Jean Smeth                your_book2     3.9               3

  Title_Encoded
0     [0, 4, 3]
1     [6, 0, 6]
2  [5, 0, 0, 1]
3     [6, 3, 4]
4     [6, 0, 6]
5     [2, 4, 3]
6     [2, 4, 3]
7           [3]
8           [6]
n_buckets = 8
         Author                     Title  Rating  Author_Encoded  \
0      John Doe       The Great Adventure     4.5               4
1    Jane Smith          Data Science 101     3.8               0
2      John Doe      Journey to the Stars     4.2               4
3     Tom Brown      Python for Beginners     4.0               7
4    Jane Smith          Data Science 101     3.5               0
5  Toam Browned  Pythons fored Begianners     4.1               1
6  Tham Brotned  Pythons fored Begianners     2.5               5
7      Joan Dot                  my_book1     4.1               5
8    Jean Smeth                your_book2     3.9               1

  Title_Encoded
0     [7, 7, 4]
1     [4, 3, 2]
2  [7, 1, 7, 4]
3     [5, 3, 5]
4     [4, 3, 2]
5     [4, 0, 4]
6     [4, 0, 4]
7           [2]
8           [5]